.title {
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    width: fit-content;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#btn {
    padding: 1em;
    border-radius: 9px;
}